<!DOCTYPE html>
<html lang="en">
<!--
        foreachte gezerken v-bind demeliyiz.
      
        <a v-bind:href="item.url">
        <img v-bind:src="item.image" alt=""> 

      Attrbiutelerıne verı verecegım ıcın v-bind dedik.Normal yazdırma olursa =>
        <p class="seller">{{item.seller}}
    
Dizinin length=0 ise yok desın=>
            <p v-if="!cartim.length">Herhangi bir item yok</p>
    -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="app.js"></script>
</head>

<body>

    <div id="app">
        <!-- Componentin templatesine cartim degıskenını atmam gerek onuda bu componet taglerıyle yapıyoruz ve  componentin propundakı verdıgımız degısken ısmıyle templatede gezıyoruz. aynı sekılde o ısmı html de  yanı burada attrıbute olarak yaakalıyoruz. degerını app.jstekı data.jsondan cektıgımız degerı verıyoruz. -->
        <p v-if="isLoading">Loading</p>
        <cartcomp :cartim="cartim" type="shoppingcart" baslikpropu="Shopping Card"></cartcomp>
        <hr>
        <!-- Ayrıca (attr olan)cartim degıskenı array olmalı ve atagımız deger zaten array. bunu programa anlatmamız ıcın basına :carim=cartim yada v-bind:cartim=cartim  diyoruz -->
        <cartcomp :cartim=kayitlilar type="safeforlater" baslikpropu="Save For Later "></cartcomp>

    </div>
</body>

</html>